/*
 * Globals
 */

.cover-container {
  
  background-image: url(/images/home-bg3.jpg) ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  

}
.cover-container::before {


}

.container-sm {
  max-width: 860px;
}

